<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">


	<servlet>
		<servlet-name>BoletaControllerIndex</servlet-name>
		<servlet-class>controller.boletas.BoletaControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoletaControllerIndex</servlet-name>
		<url-pattern>/boleta</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BoletaControllerCreate</servlet-name>
		<servlet-class>controller.boletas.BoletaControllerCreate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoletaControllerCreate</servlet-name>
		<url-pattern>/boleta/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BoletaControllerDelete</servlet-name>
		<servlet-class>controller.boletas.BoletaControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoletaControllerDelete</servlet-name>
		<url-pattern>/boleta/delete</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>ProductControllerCreate</servlet-name>
		<servlet-class>controller.products.ProductControllerCreate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductControllerCreate</servlet-name>
		<url-pattern>/products/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProductControllerDelete</servlet-name>
		<servlet-class>controller.products.ProductControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductControllerDelete</servlet-name>
		<url-pattern>/products/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProductControllerIndex</servlet-name>
		<servlet-class>controller.products.ProductControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductControllerIndex</servlet-name>
		<url-pattern>/products</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProductControllerRead</servlet-name>
		<servlet-class>controller.products.ProductControllerRead</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductControllerRead</servlet-name>
		<url-pattern>/products/view</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProductControllerUpdate</servlet-name>
		<servlet-class>controller.products.ProductControllerUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductControllerUpdate</servlet-name>
		<url-pattern>/products/update</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserControllerCreate</servlet-name>
		<servlet-class>controller.users.UserControllerCreate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserControllerCreate</servlet-name>
		<url-pattern>/users/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserControllerDelete</servlet-name>
		<servlet-class>controller.users.UserControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserControllerDelete</servlet-name>
		<url-pattern>/users/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserControllerIndex</servlet-name>
		<servlet-class>controller.users.UserControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserControllerIndex</servlet-name>
		<url-pattern>/users</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserControllerRead</servlet-name>
		<servlet-class>controller.users.UserControllerRead</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserControllerRead</servlet-name>
		<url-pattern>/users/view</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserControllerRegister</servlet-name>
		<servlet-class>controller.users.UserControllerRegister</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserControllerRegister</servlet-name>
		<url-pattern>/users/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserControllerUpdate</servlet-name>
		<servlet-class>controller.users.UserControllerUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserControllerUpdate</servlet-name>
		<url-pattern>/users/update</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserControllerLogin</servlet-name>
		<servlet-class>controller.users.UserControllerLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserControllerLogin</servlet-name>
		<url-pattern>/users/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserControllerLogout</servlet-name>
		<servlet-class>controller.users.UserControllerLogout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserControllerLogout</servlet-name>
		<url-pattern>/users/logout</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
